root{
    --pink:#e84393;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .03);
}

.heading span{
    color: #e84393;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 4rem;
    background: #333;
    color: #fff;
    padding: 1rem 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:hover{
    background: #e84393;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:#fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgb(0, 0, 0, .1);
}

header .logo{
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span{
    color:#e84393;
}

header .navbar a{
    font-size: 1.7rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: #e84393;
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: #e84393;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 2.5rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0, .3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(https://img.freepik.com/free-photo/top-view-valentine-s-day-concept-with-copy-space_23-2148717872.jpg?w=1380&t=st=1707055932~exp=1707056532~hmac=28a755b0171a35f883ff19f3e35da529fb1f6baf0ba02cec12a4f2908678f490);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color: #e84393;
}

.home .content span{
    font-size: 3.5rem;
    color: #e84393;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 2rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    pad: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .image-contrainer{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .image-contrainer image{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    object-fit: cover;
}

.about .row .image-contrainer h3{
    position: absolute;
    top: 50%;transform: translateY(-50%);
    font-size: 3rem;
     background: #fff;
     width: 100%;
     padding: 1rem 2rem;
     mix-blend-mode: screen;
     
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.review .box-contrainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-contrainer .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgb(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid rgb(0, 0, 0, .1);
}

.review .box-contrainer .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem; color: #eee;
}


.review .box-contrainer .box .stars i{
    color: #e84393;
    font-size: 2rem;
}

.review .box-contrainer .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 2rem;
}

.review .box-contrainer .box .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 45%;
    object-fit: cover;
    margin-right: 1rem;   
}

.review .box-contrainer .box .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-contrainer .box .user span{
    font-size: 1rem;
    color: #333;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgb(0, 0, 0, .1);
    border: .1rem solid rgba(0,0,0, .1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row form .image{
    flex: 1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}


.contact .row form .box{
    pad: 1rem;
    font-size: 1.7rem;
    text-transform: none;
    color: #333;
    border: .1rem solid rgb(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row .box:focus{
    border-color: #e84393;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.footer .box-contrainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-contrainer .box{
    flex: 1 1 25rem;
}

.footer .box-contrainer .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-contrainer .box a{
    display: block;
    color: #666;
    font-size: 2.5rem;
    padding: 1.5rem 0;
}

.footer .box-contrainer .box a:hover{
    color: #e84393;
    text-decoration: underline;
}

.footer .box-contrainer .box img{
    font-size: 1rem;
    margin-top: 3rem;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgb(0, 0, 0, .1);
}

.footer .credit span{
    color: #e84393;
}






